<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801124208601-7u9v412tha2jnolfb8gmh4s3699ojlaa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801124208601-7u9v412tha2jnolfb8gmh4s3699ojlaa</string>
	<key>API_KEY</key>
	<string>AIzaSyDcOSUir0UuTuYxTe9cU7MacpjVyMNaH4w</string>
	<key>GCM_SENDER_ID</key>
	<string>801124208601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bahtiyerovich.coffee</string>
	<key>PROJECT_ID</key>
	<string>coffee-e8fce</string>
	<key>STORAGE_BUCKET</key>
	<string>coffee-e8fce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801124208601:ios:9092e2dd9c7842c3c153c8</string>
</dict>
</plist>